<div [formGroup]="formGroup" novalidate>

    <ng-container *ngIf="controlSchema.type === 'text' || controlSchema.type === 'password'">
        <div class="form-group">
            <label [for]="controlSchema.name"
                   [requiredFieldIndicator]="controlSchema.validate">
                {{controlSchema.label}}
            </label>
            <input [id]="controlSchema.name"
                   [type]="controlSchema.type"
                   [placeholder]="controlSchema.placeholder"
                   [className]="getClasses()"
                   [ngStyle]="controlSchema.style"
                   [formControlName]="controlSchema.name" />
            <dynamic-forms-validator [formObj]="formObject"
                               [group]="formGroup"
                               [config]="controlSchema"></dynamic-forms-validator>
        </div>
    </ng-container>

    <ng-container *ngIf="controlSchema.type === 'checkbox'">
        <div class="form-group">
            <label for="cbx-{{controlSchema.name}}"
                   [requiredFieldIndicator]="controlSchema.validate"
                   [ngStyle]="controlSchema.style">
                <input id="cbx-{{controlSchema.name}}"
                       type="checkbox"
                       [formControlName]="controlSchema.name">
                {{controlSchema.label}}
            </label>
            <dynamic-forms-validator [formObj]="formObject"
                                 [group]="formGroup"
                                 [config]="controlSchema"></dynamic-forms-validator>
        </div>
    </ng-container>

</div>
